# 关联规则

## 案例:学生选课

## 参考资料
- [[market-basket-analysis]](http://pbpython.com/market-basket-analysis.html)
- [[关联规则挖掘及Apriori实现购物推荐]](http://blog.csdn.net/eastmount/article/details/53368440)

## 数据集
- [[OnlineRetail数据来源]](http://archive.ics.uci.edu/ml/machine-learning-databases/00352/Online%20Retail.xlsx
)

## 原理

## 实现过程

In [2]:
#如果没有安装mlxtend,请用下列命令安装
# !pip install mlxtend

Looking in indexes: https://pypi.tuna.tsinghua.edu.cn/simple
Collecting mlxtend
  Downloading https://pypi.tuna.tsinghua.edu.cn/packages/64/e2/1610a86284029abcad0ac9bc86cb19f9787fe6448ede467188b2a5121bb4/mlxtend-0.17.2-py2.py3-none-any.whl (1.3 MB)
Requirement already satisfied: joblib>=0.13.2 in e:\anaconda3\lib\site-packages (from mlxtend) (0.13.2)
Requirement already satisfied: numpy>=1.16.2 in e:\anaconda3\lib\site-packages (from mlxtend) (1.16.4)
Requirement already satisfied: scipy>=1.2.1 in e:\anaconda3\lib\site-packages (from mlxtend) (1.2.1)
Requirement already satisfied: pandas>=0.24.2 in e:\anaconda3\lib\site-packages (from mlxtend) (0.24.2)
Requirement already satisfied: matplotlib>=3.0.0 in c:\users\administrator\appdata\roaming\python\python37\site-packages (from mlxtend) (3.2.1)
Requirement already satisfied: setuptools in e:\anaconda3\lib\site-packages (from mlxtend) (39.1.0)
Requirement already satisfied: scikit-learn>=0.20.3 in e:\anaconda3\lib\site-packages (from mlxtend) (0.21.2)
Requirement already satisfied: pytz>=2011k in e:\anaconda3\lib\site-packages (from pandas>=0.24.2->mlxtend) (2019.1)
Requirement already satisfied: python-dateutil>=2.5.0 in e:\anaconda3\lib\site-packages (from pandas>=0.24.2->mlxtend) (2.8.0)
Requirement already satisfied: kiwisolver>=1.0.1 in e:\anaconda3\lib\site-packages (from matplotlib>=3.0.0->mlxtend) (1.1.0)
Requirement already satisfied: pyparsing!=2.0.4,!=2.1.2,!=2.1.6,>=2.0.1 in e:\anaconda3\lib\site-packages (from matplotlib>=3.0.0->mlxtend) (2.4.0)
Requirement already satisfied: cycler>=0.10 in e:\anaconda3\lib\site-packages (from matplotlib>=3.0.0->mlxtend) (0.10.0)
Requirement already satisfied: six>=1.5 in e:\anaconda3\lib\site-packages (from python-dateutil>=2.5.0->pandas>=0.24.2->mlxtend) (1.12.0)
Installing collected packages: mlxtend
Successfully installed mlxtend-0.17.2

In [3]:
import pandas as pd
from mlxtend.frequent_patterns import apriori
from mlxtend.frequent_patterns import association_rules

selected_courses = [['C','数据结构','算法'],
          ['Java','数据结构','数据库'],
          ['C','Java','数据结构','数据库'],
          ['Java','数据库']]

数据转换为OneHot

In [8]:
from mlxtend.preprocessing import TransactionEncoder
oht = TransactionEncoder()
oht_ary = oht.fit(selected_courses).transform(selected_courses)
oht_ary = oht_ary.astype("int")
df = pd.DataFrame(oht_ary, columns=oht.columns_)
df

   C  Java  数据库  数据结构  算法
0  1     0    0     1   1
1  0     1    1     1   0
2  1     1    1     1   0
3  0     1    1     0   0

In [10]:
apriori(df, min_support=0.6)

   support itemsets
0     0.75      (1)
1     0.75      (2)
2     0.75      (3)
3     0.75   (1, 2)

In [11]:
frequent_itemsets=apriori(df, min_support=0.5, use_colnames=True)
frequent_itemsets

   support           itemsets
0     0.50                (C)
1     0.75             (Java)
2     0.75              (数据库)
3     0.75             (数据结构)
4     0.50          (数据结构, C)
5     0.75        (Java, 数据库)
6     0.50       (Java, 数据结构)
7     0.50        (数据库, 数据结构)
8     0.50  (Java, 数据库, 数据结构)

In [12]:
rules_lift = association_rules(frequent_itemsets, metric="lift", min_threshold=1)
rules_lift

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction
0,(数据结构),(C),0.75,0.50,0.50,0.666667,1.333333,0.1250,1.5
1,(C),(数据结构),0.50,0.75,0.50,1.000000,1.333333,0.1250,inf
2,(Java),(数据库),0.75,0.75,0.75,1.000000,1.333333,0.1875,inf
3,(数据库),(Java),0.75,0.75,0.75,1.000000,1.333333,0.1875,inf
4,"(Java, 数据结构)",(数据库),0.50,0.75,0.50,1.000000,1.333333,0.1250,inf
5,"(数据库, 数据结构)",(Java),0.50,0.75,0.50,1.000000,1.333333,0.1250,inf
6,(Java),"(数据库, 数据结构)",0.75,0.50,0.50,0.666667,1.333333,0.1250,1.5
7,(数据库),"(Java, 数据结构)",0.75,0.50,0.50,0.666667,1.333333,0.1250,1.5

In [13]:
rules_confidence = association_rules(frequent_itemsets, metric="confidence", min_threshold=0.6)
rules_confidence

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction
0,(数据结构),(C),0.75,0.50,0.50,0.666667,1.333333,0.1250,1.50
1,(C),(数据结构),0.50,0.75,0.50,1.000000,1.333333,0.1250,inf
2,(Java),(数据库),0.75,0.75,0.75,1.000000,1.333333,0.1875,inf
3,(数据库),(Java),0.75,0.75,0.75,1.000000,1.333333,0.1875,inf
4,(Java),(数据结构),0.75,0.75,0.50,0.666667,0.888889,-0.0625,0.75
5,(数据结构),(Java),0.75,0.75,0.50,0.666667,0.888889,-0.0625,0.75
6,(数据库),(数据结构),0.75,0.75,0.50,0.666667,0.888889,-0.0625,0.75
7,(数据结构),(数据库),0.75,0.75,0.50,0.666667,0.888889,-0.0625,0.75
8,"(Java, 数据库)",(数据结构),0.75,0.75,0.50,0.666667,0.888889,-0.0625,0.75
9,"(Java, 数据结构)",(数据库),0.50,0.75,0.50,1.000000,1.333333,0.1250,inf
10,"(数据库, 数据结构)",(Java),0.50,0.75,0.50,1.000000,1.333333,0.1250,inf
11,(Java),"(数据库, 数据结构)",0.75,0.50,0.50,0.666667,1.333333,0.1250,1.50
12,(数据库),"(Java, 数据结构)",0.75,0.50,0.50,0.666667,1.333333,0.1250,1.50
13,(数据结构),"(Java, 数据库)",0.75,0.75,0.50,0.666667,0.888889,-0.0625,0.75

In [14]:
rules_confidence[ (rules_confidence['lift'] >= 1) &
       (rules_confidence['confidence'] >= 0.8) ]

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction
1,(C),(数据结构),0.50,0.75,0.50,1.0,1.333333,0.1250,inf
2,(Java),(数据库),0.75,0.75,0.75,1.0,1.333333,0.1875,inf
3,(数据库),(Java),0.75,0.75,0.75,1.0,1.333333,0.1875,inf
9,"(Java, 数据结构)",(数据库),0.50,0.75,0.50,1.0,1.333333,0.1250,inf
10,"(数据库, 数据结构)",(Java),0.50,0.75,0.50,1.0,1.333333,0.1250,inf

In [16]:
rules_confidence["antecedent_len"] = rules_confidence["antecedents"].apply(lambda x: len(x))
rules_confidence

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction,antecedent_len
0,(数据结构),(C),0.75,0.50,0.50,0.666667,1.333333,0.1250,1.50,1
1,(C),(数据结构),0.50,0.75,0.50,1.000000,1.333333,0.1250,inf,1
2,(Java),(数据库),0.75,0.75,0.75,1.000000,1.333333,0.1875,inf,1
3,(数据库),(Java),0.75,0.75,0.75,1.000000,1.333333,0.1875,inf,1
4,(Java),(数据结构),0.75,0.75,0.50,0.666667,0.888889,-0.0625,0.75,1
5,(数据结构),(Java),0.75,0.75,0.50,0.666667,0.888889,-0.0625,0.75,1
6,(数据库),(数据结构),0.75,0.75,0.50,0.666667,0.888889,-0.0625,0.75,1
7,(数据结构),(数据库),0.75,0.75,0.50,0.666667,0.888889,-0.0625,0.75,1
8,"(Java, 数据库)",(数据结构),0.75,0.75,0.50,0.666667,0.888889,-0.0625,0.75,2
9,"(Java, 数据结构)",(数据库),0.50,0.75,0.50,1.000000,1.333333,0.1250,inf,2
10,"(数据库, 数据结构)",(Java),0.50,0.75,0.50,1.000000,1.333333,0.1250,inf,2
11,(Java),"(数据库, 数据结构)",0.75,0.50,0.50,0.666667,1.333333,0.1250,1.50,1
12,(数据库),"(Java, 数据结构)",0.75,0.50,0.50,0.666667,1.333333,0.1250,1.50,1
13,(数据结构),"(Java, 数据库)",0.75,0.75,0.50,0.666667,0.888889,-0.0625,0.75,1

In [17]:
rules_confidence[ (rules_confidence['antecedent_len'] >= 2) &
       (rules_confidence['confidence'] > 0.8) &
       (rules_confidence['lift'] > 1) ]

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction,antecedent_len
9,"(Java, 数据结构)",(数据库),0.5,0.75,0.5,1.0,1.333333,0.125,inf,2
10,"(数据库, 数据结构)",(Java),0.5,0.75,0.5,1.0,1.333333,0.125,inf,2